.formContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding-top: 100px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 60px;
  background: #f2efe5;
  margin-bottom: 20px;
}

.titleInput {
  margin-bottom: 50px;
}

.fromInput {
  text-align: right;
}

.fromInput,
.titleInput {
  font-size: 2em;
  height: 50px;
  border: 0;
  background: #f2efe5;
}

.textArea {
  min-height: 40vh;
  border: 0;
  background: #f2efe5;
  line-height: 40px;
  font-size: 1.2em;
  resize: none;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.backButton {
  background-color: grey;
}

.sendButton {
  background-color: green;
}

.errorMsg {
  color: red;
  font-weight: bold;
  text-align: center;
}
